.App {
    font-family: Arial sans-serif;
    padding: 20px;
    text-align: center;
}
 button{
    padding:10px 20px;
    margin:10px;
    background-color: aquamarine;
    color: white;
    border:none;
    text-align: center;
}
button:hover{
    background-color: chartreuse;
    
}
p{ 
    
    font-size: 1.2rem;
    color: darkblue;
}
h2 {
    margin: 0

}
p {
    margin: 5px 0;
}

